@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Bleakwind Buffet</h1>
        <p>
            We at Bleakwind Buffet are proud to bring you authentic fantasy meals
            straight from the world of Skyrim. Shake the blood off your sword and sake your thirst
            with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger.
            Or vanquish the the mighty Thalmor Triple Burger!
            You’ve had a hard adventure and earned your loot, so spend it with us!.
        </p>

        <h2>Entrees</h2>
        <ul class="entrees">
            @foreach (BleakwindBuffet.Data.IOrderItem item in @Model.Entrees)
            {
                <li>
                    <div class="menu-item">
                        <h3 class="name">@item.ToString()</h3>
                        <div class="price">$@item.Price</div>
                        <div class="calories">Calories: @item.Calories</div>


                    </div>

                </li>
            }

        </ul>
        <h2>Sides</h2>
        <ul class="sides">
            @foreach (BleakwindBuffet.Data.IOrderItem item in @Model.Sides)
            {
                <li>
                    <div class="menu-item">
                        <h3 class="name">@item.ToString()</h3>
                        <div class="price">$@item.Price</div>
                        <div class="calories">Calories: @item.Calories</div>


                    </div>

                </li>
            }

        </ul>

        <h2>Drinks</h2>
        <ul class="drinks">
            @foreach (BleakwindBuffet.Data.IOrderItem item in @Model.Drinks)
            {
                <li>
                    <div class="menu-item">
                        <h3 class="name">@item.ToString()</h3>
                        <div class="price">$@item.Price</div>
                        <div class="calories">Calories: @item.Calories</div>


                    </div>

                </li>
            }

        </ul>
        <h4>Available Soda Flavors:</h4>
        <ul class="flavors">
            @foreach(BleakwindBuffet.Data.Enums.SodaFlavor flavor in Enum.GetValues(typeof(BleakwindBuffet.Data.Enums.SodaFlavor)))
            {
                <li>
                    
                    <div class="flavor">@flavor.ToString()</div>
                </li>
            }
        </ul>
        
        <p>Any entree, side, and drink can be combined into a Combo with a $1 discount.</p>

    </div>
